.section {
    color: white;

    margin: 20px 10px;
    border-bottom: solid;
    border-color: #ff4017;
    font-family: 'Netflix Sans', "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu", "sans-serif";
    font-size: 1.5rem;
}

.card_group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
}


.card_container {
    position: absolute;
    background-color: #1a1a1a;
    border-style: solid;

    margin: 10px 10px;
    width: 15rem;
    overflow: hidden;


}

.card_container :hover {}

.card_poster {
    position: relative;
    overflow: hidden;
}

.card_poster::before {
    position: absolute;
    transition: 0.5s;
    z-index: 1;
}


.card_img {
    width: 100%;
}

.main_text_div {}

.card_text_div {
    position: absolute;
    padding: 10px;
    background-color: #1a1a1a;
    box-sizing: border-box;
    color: white;
    top: 320px;
    transition: 0.5s;
    z-index: 2;
}

.card_container:hover .card_text_div {
    top: 100px;
    overflow: auto;
    height: 100%;
}




.card_text {
    display: block;
    border-bottom: 1px groove;
    margin: 2px 0;
    padding: 2px 0;
}

.title {
    font-family: 'Netflix Sans', "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu", "sans-serif";
    font-weight: 500;
    font-size: 1.5rem;
}

.genres {
    display: inline;
}

.label {
    font-size: 1.1rem;

}

.overview {
    overflow-wrap: break-word;

}

.redirect {
    margin-top: 50%;
    color: white;
}

.pagination_div {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.page_btn {}